---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BackLink from "../components/BackLink.astro";

type Props = CollectionEntry<"courses">["data"];

const { title, description, pubDate, heroImage, category } = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>

  <body>
    <Header class="dark:bg-gray-800 bg-white" />
    <main class="dark:bg-gray-950 bg-gray-200 pb-10">
      <article class="max-w-3xl mx-auto p-2" transition:name={title}>
        <BackLink />
        <h1
          class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl py-3"
        >
          {title} - ¿Merece la pena?
        </h1>
        <span
          class="text-sm font-medium text-purple-700 uppercase dark:text-purple-700"
          >{category}</span
        >

        <div class="hero-image pt-1">
          {
            heroImage && (
              <img
                width={1020}
                height={510}
                src={heroImage}
                alt=""
                class="rounded-lg"
              />
            )
          }
        </div>
        <div class="pt-6 prose dark:prose-invert max-w-none">
          <slot />
        </div>
      </article>
    </main>
    <Footer />
  </body>
</html>
