---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import BackLink from "../components/BackLink.astro";

type Props = CollectionEntry<"courses">["data"];

const { title, description, pubDate, heroImage, category, afiliateLink } =
  Astro.props;
---

<html lang="es">
  <head>
    <BaseHead title={title} description={description} image={heroImage} />
  </head>

  <body>
    <Header class="dark:bg-gray-800 bg-white" />
    <main class="dark:bg-gray-950 bg-gray-200 pb-10">
      <article class="max-w-3xl mx-auto p-2" transition:name={title}>
        <BackLink />
        <a target="_blank" href={afiliateLink}>
          <h1
            class="text-2xl font-extrabold tracking-tight text-slate-900 dark:text-slate-200 md:text-3xl py-3"
          >
            {title} - ¿Merece la pena?
          </h1>
        </a>
        <span
          class="text-sm font-medium text-purple-700 uppercase dark:text-purple-700"
          >{category.id}</span
        >

        <a href={afiliateLink} target="_blank" class="hero-image pt-1">
          {
            heroImage && (
              <img
                width={1020}
                height={510}
                src={heroImage}
                alt=""
                class="rounded-lg"
              />
            )
          }
        </a>
        <div
          class="pt-6 prose dark:prose-invert max-w-none prose-a:text-yellow-600 dark:prose-a:text-yellow-300"
        >
          <slot />
        </div>
        <script type="text/javascript">
          atOptions = {
            key: "8e1d4c93e6933f119ba6d09b06ef0008",
            format: "iframe",
            height: 50,
            width: 320,
            params: {},
          };
        </script>
        <script
          type="text/javascript"
          src="//www.highperformanceformat.com/8e1d4c93e6933f119ba6d09b06ef0008/invoke.js"
        ></script>
      </article>
    </main>
    <script
      type="text/javascript"
      src="//pl25648634.profitablecpmrate.com/fb/93/35/fb93354fb409b76cfcc431d17dcfb960.js"
    ></script>
    <Footer />
  </body>
</html>
